/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
    

    
    .drawer-buttons{
         -fx-text-alignment: left;
         -fx-padding: 0 0 0 30;
         -fx-alignment: left ;
         
    }
    
    
    .drawer-buttons:hover{
    -fx-background-color: #009688;
    }
    
    .drawer-buttons:focus{
        -fx-background-color: #009688;
    }

}

